@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
body {
    background: hsl(0, 0%, 8%);
}

* {
    box-sizing: border-box;
    font-family: inter;
}

p,
h3,
h6 {
    margin: 0;
}

h3 {
    color: white;
    font-weight: 600;
}

.container {
    background: hsl(0, 0%, 12%);
    width: 348px;
    height: 560px;
    margin: auto;
    margin-top: 130px;
    border-radius: 10px;
}

.pro-pic {
    width: 100%;
    height: 150px;
}

.pro-pic img {
    width: 80px;
    border: none;
    border-radius: 50%;
    margin-left: 134px;
    margin-top: 40px;
}

.name-and-location {
    display: grid;
    align-items: center;
    justify-content: center;
}

.location {
    font-size: 17.4px;
    margin-top: 7px;
    color: hsl(75, 94%, 57%);
}

.job-title {
    display: grid;
    align-items: center;
    justify-content: center;
}

.job-title p {
    color: white;
    margin-top: 20px;
    font-size: 13px;
}

.contacts {
    display: grid;
    justify-content: center;
    margin-top: 20px;
}

.contacts button {
    color: aliceblue;
    background: hsl(0, 0%, 20%);
    margin-bottom: 15px;
    padding: 11px 80px;
    border: none;
    border-radius: 7px;
    font-weight: 700;
}

.contacts button:hover {
    cursor: pointer;
    transition: 0.1s;
}

.contacts button:active {
    background: hsl(75, 94%, 57%);
    color: black;
}

p,
h3,
h6,
img,
button:hover {
    cursor: pointer;
}